<div class="mdl-typography--text-center loader" ng-if="main.isLoading">
  <div class="mdl-spinner mdl-js-spinner is-active"></div>
</div>
<div class="page-content home" ng-if="!main.isLoading">
  <!-- <p class="mdl-typography--headline">
    {{main.heading}}
  </p> -->
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
      <div class="mdl-card mdl-shadow--2dp chart__container" drop-visualization>
        <visualization id="visualization1" class="visualization" type="main.type1" data="main.data1" options="main.options1" draggable="true">
          <div class="mdl-card__actions mdl-card--border">
            <a ng-href="#" class="chart__download" download>
              <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
                <i class="material-icons">file_download</i>
              </button>
            </a>
          </div>
        </visualization>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
      <div class="mdl-card mdl-shadow--2dp chart__container" drop-visualization>
        <visualization id="visualization2" class="visualization" type="main.type2" data="main.data2" options="main.options2" draggable="true">
          <div class="mdl-card__actions mdl-card--border">
            <a ng-href="#" class="chart__download" download>
              <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
                <i class="material-icons">file_download</i>
              </button>
            </a>
          </div>
        </visualization>
      </div>
    </div>
  </div>

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-card mdl-shadow--2dp chart__container" drop-visualization>
        <visualization id="visualization3" class="visualization" type="main.type3" data="main.data3" options="main.options3" draggable="true">
          <div class="mdl-card__actions mdl-card--border">
            <a ng-href="#" class="chart__download" download>
              <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
                <i class="material-icons">file_download</i>
              </button>
            </a>
          </div>
        </visualization>
      </div>
    </div>
  </div>

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
      <div class="mdl-card mdl-shadow--2dp chart__container" drop-visualization>
        <visualization id="visualization4" class="visualization" type="main.type4" data="main.data4" options="main.options4" draggable="true">
          <div class="mdl-card__actions mdl-card--border">
            <a ng-href="#" class="chart__download" download>
              <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
                <i class="material-icons">file_download</i>
              </button>
            </a>
          </div>
        </visualization>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
      <div class="mdl-card mdl-shadow--2dp chart__container" drop-visualization>
        <visualization id="visualization5" class="visualization" type="main.type5" data="main.data4" options="main.options5" draggable="true">
          <div class="mdl-card__actions mdl-card--border">
            <a ng-href="#" class="chart__download" download>
              <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
                <i class="material-icons">file_download</i>
              </button>
            </a>
          </div>
        </visualization>
      </div>
    </div>
  </div>

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
      <div class="mdl-card mdl-shadow--2dp chart__container" drop-visualization>
        <visualization id="visualization6" class="visualization" type="main.type6" data="main.data6" options="main.options6" draggable="true">
          <div class="mdl-card__actions mdl-card--border">
            <a ng-href="#" class="chart__download" download>
              <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
                  <i class="material-icons">file_download</i>
              </button>
            </a>
          </div>
        </visualization>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
      <div class="mdl-card mdl-shadow--2dp chart__container" drop-visualization>
        <visualization id="visualization7" class="visualization" type="main.type7" data="main.data7" options="main.options7" draggable="true">
          <div class="mdl-card__actions mdl-card--border">
            <a ng-href="#" class="chart__download" download>
              <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
                  <i class="material-icons">file_download</i>
              </button>
            </a>
          </div>
        </visualization>
      </div>
    </div>
  </div>

</div>
