<loader is-loading="main.isLoading"></loader>
<div class="page-content home" ng-if="!main.isLoading">
  <!-- <p class="mdl-typography--headline">
    {{main.heading}}
  </p> -->
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
      <div class="mdl-card mdl-shadow--2dp chart__container" drop-visualization>
        <visualization id="{{main.visualization1.identifier}}" class="visualization" type="main.visualization1.type" data="main.visualization1.data" options="main.visualization1.options" draggable="true">
          <div class="mdl-card__actions mdl-card--border">
            <a ng-href="#" class="chart__download" download>
              <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
                <i class="material-icons">file_download</i>
              </button>
            </a>
          </div>
        </visualization>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
      <div class="mdl-card mdl-shadow--2dp chart__container" drop-visualization>
        <visualization id="{{main.visualization2.identifier}}" class="visualization" type="main.visualization2.type" data="main.visualization2.data" options="main.visualization2.options" draggable="true">
          <div class="mdl-card__actions mdl-card--border">
            <a ng-href="#" class="chart__download" download>
              <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
                <i class="material-icons">file_download</i>
              </button>
            </a>
          </div>
        </visualization>
      </div>
    </div>
  </div>

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-card mdl-shadow--2dp chart__container" drop-visualization>
        <visualization id="{{main.visualization3.identifier}}" class="visualization" type="main.visualization3.type" data="main.visualization3.data" options="main.visualization3.options" draggable="true">
          <div class="mdl-card__actions mdl-card--border">
            <a ng-href="#" class="chart__download" download>
              <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
                <i class="material-icons">file_download</i>
              </button>
            </a>
          </div>
        </visualization>
      </div>
    </div>
  </div>

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
      <div class="mdl-card mdl-shadow--2dp chart__container" drop-visualization>
        <visualization id="{{main.visualization4.identifier}}" class="visualization" type="main.visualization4.type" data="main.visualization4.data" options="main.visualization4.options" draggable="true">
          <div class="mdl-card__actions mdl-card--border">
            <a ng-href="#" class="chart__download" download>
              <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
                <i class="material-icons">file_download</i>
              </button>
            </a>
          </div>
        </visualization>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
      <div class="mdl-card mdl-shadow--2dp chart__container" drop-visualization>
        <visualization id="{{main.visualization5.identifier}}" class="visualization" type="main.visualization5.type" data="main.visualization5.data" options="main.visualization5.options" draggable="true">
          <div class="mdl-card__actions mdl-card--border">
            <a ng-href="#" class="chart__download" download>
              <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
                <i class="material-icons">file_download</i>
              </button>
            </a>
          </div>
        </visualization>
      </div>
    </div>
  </div>

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
      <div class="mdl-card mdl-shadow--2dp chart__container" drop-visualization>
        <visualization id="{{main.visualization6.identifier}}" class="visualization" type="main.visualization6.type" data="main.visualization6.data" options="main.visualization6.options" draggable="true">
          <div class="mdl-card__actions mdl-card--border">
            <a ng-href="#" class="chart__download" download>
              <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
                  <i class="material-icons">file_download</i>
              </button>
            </a>
          </div>
        </visualization>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
      <div class="mdl-card mdl-shadow--2dp chart__container" drop-visualization>
        <visualization id="{{main.visualization7.identifier}}" class="visualization" type="main.visualization7.type" data="main.visualization7.data" options="main.visualization7.options" draggable="true">
          <div class="mdl-card__actions mdl-card--border">
            <a ng-href="#" class="chart__download" download>
              <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
                  <i class="material-icons">file_download</i>
              </button>
            </a>
          </div>
        </visualization>
      </div>
    </div>
  </div>

</div>
